nav {
  background-color: grey;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  padding: 1rem 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.nav-menu li {
  font-size: 14px;
}
