.projects {
  padding: 3rem 0;
}

.projects h1 {
  font-weight: 100;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 40px;
  text-align: center;
}

.filter {
  text-align: center;
  margin-bottom: 20px;
}

.filter button {
  background-color: #333;
  color: white;
}
