.resume {
  padding: 5rem 0;
}

.resume h1 {
  font-weight: 100;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 40px;
  text-align: center;
}

.resume h2 {
  border-bottom: 1px solid #dad9d9;
  padding-bottom: 3px;
  display: inline-block;
}
