.skills {
  background-color: rgb(242, 241, 241);
  padding: 5rem 0;
  color: #333;
  text-align: center;
}

.skills h1 {
  font-weight: 100;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
